<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.approve.mapper.DatasetMapper">

    <resultMap id="dataset" type="cc.mrbird.febs.approve.entity.Dataset">
        <id column="id" jdbcType="bigint" property="id"/>
        <result column="data_source_code" jdbcType="varchar" property="dataSourceCode"/>
        <result column="code" jdbcType="varchar" property="code"/>
        <result column="type" jdbcType="varchar" property="type"/>
        <result column="path" jdbcType="varchar" property="path"/>
        <result column="method" jdbcType="varchar" property="method"/>
        <result column="content_type" jdbcType="varchar" property="contentType"/>
        <result column="timeout" jdbcType="int" property="timeout"/>
        <result column="retry_times" jdbcType="int" property="retryTimes"/>
        <result column="sleep_interval" jdbcType="int" property="sleepInterval"/>
        <result column="select_sql" jdbcType="varchar" property="selectSql"/>
        <result column="status" jdbcType="int" property="status"/>
        <result column="comments" jdbcType="varchar" property="comments"/>
        <result column="create_time" jdbcType="datetime" property="createTime"/>
        <result column="update_time" jdbcType="datetime" property="updateTime"/>
    </resultMap>
</mapper>
