<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.approve.mapper.OutputMapper">

    <resultMap id="output" type="cc.mrbird.febs.approve.entity.Output">
        <id column="id" jdbcType="bigint" property="id"/>
        <result column="dataset_id" jdbcType="bigint" property="datasetId"/>
        <result column="key" jdbcType="varchar" property="key"/>
        <result column="val_expression" jdbcType="varchar" property="valExpression"/>
        <result column="create_time" jdbcType="datetime" property="createTime"/>
        <result column="update_time" jdbcType="datetime" property="updateTime"/>
    </resultMap>
</mapper>
