<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.approve.mapper.ProjectMapper">

    <resultMap id="project" type="cc.mrbird.febs.approve.entity.Project">
        <id column="id" jdbcType="bigint" property="id"/>
        <result column="code" jdbcType="varchar" property="code"/>
        <result column="comments" jdbcType="varchar" property="comments"/>
        <result column="daily_limit" jdbcType="bigint" property="dailyLimit"/>
        <result column="price" jdbcType="int" property="price"/>
        <result column="create_time" jdbcType="datetime" property="createTime"/>
        <result column="update_time" jdbcType="datetime" property="updateTime"/>
    </resultMap>
</mapper>
