<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.approve.mapper.RuAdviceMapper">

    <resultMap id="ruAdvice" type="cc.mrbird.febs.approve.entity.RuAdvice">
        <id column="id" jdbcType="bigint" property="id"/>
        <result column="order_id" jdbcType="varchar" property="orderId"/>
        <result column="serial_number" jdbcType="varchar" property="serialNumber"/>
        <result column="req_time" jdbcType="varchar" property="reqTime"/>
        <result column="parent_order_id" jdbcType="varchar" property="parentOrderId"/>
        <result column="etype" jdbcType="varchar" property="etype"/>
        <result column="advice" jdbcType="varchar" property="advice"/>
        <result column="amount" jdbcType="decimal" property="amount"/>
        <result column="reason" jdbcType="varchar" property="reason"/>
        <result column="rule_output_detail" jdbcType="varchar" property="ruleOutputDetail"/>
        <result column="hit_count" jdbcType="int" property="hitCount"/>
        <result column="hit_stop" jdbcType="int" property="hitStop"/>
        <result column="hit_rule" jdbcType="varchar" property="hitRule"/>
        <result column="tid" jdbcType="varchar" property="tid"/>
        <result column="icc" jdbcType="varchar" property="icc"/>
        <result column="icc_sign" jdbcType="varchar" property="iccSign"/>
        <result column="channel" jdbcType="varchar" property="channel"/>
        <result column="gid" jdbcType="varchar" property="gid"/>
        <result column="sn" jdbcType="varchar" property="sn"/>
        <result column="cid" jdbcType="varchar" property="cid"/>
        <result column="uuid" jdbcType="varchar" property="uuid"/>
        <result column="mobid" jdbcType="varchar" property="mobid"/>
        <result column="project_code" jdbcType="varchar" property="projectCode"/>
        <result column="xml_process_id" jdbcType="varchar" property="xmlProcessId"/>
        <result column="create_time" jdbcType="datetime" property="createTime"/>
        <result column="update_time" jdbcType="datetime" property="updateTime"/>
    </resultMap>
</mapper>
