<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.approve.mapper.RuHitRuleMapper">

    <resultMap id="ruHitRule" type="cc.mrbird.febs.approve.entity.RuHitRule">
        <id column="id" jdbcType="int" property="id"/>
        <result column="rule_set_name" jdbcType="varchar" property="ruleSetName"/>
        <result column="rule_name" jdbcType="varchar" property="ruleName"/>
        <result column="comments" jdbcType="varchar" property="comments"/>
        <result column="etype" jdbcType="varchar" property="etype"/>
        <result column="orderId" jdbcType="varchar" property="orderid"/>
        <result column="gid" jdbcType="varchar" property="gid"/>
        <result column="sn" jdbcType="varchar" property="sn"/>
        <result column="cid" jdbcType="varchar" property="cid"/>
        <result column="uuid" jdbcType="varchar" property="uuid"/>
        <result column="mobid" jdbcType="varchar" property="mobid"/>
        <result column="project_code" jdbcType="varchar" property="projectCode"/>
        <result column="xml_process_id" jdbcType="varchar" property="xmlProcessId"/>
        <result column="create_time" jdbcType="datetime" property="createTime"/>
        <result column="update_time" jdbcType="datetime" property="updateTime"/>
    </resultMap>
</mapper>
